// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/bootstrap-utilities";
//Generate utilites for Cursor
$utilities: map-merge(
    $utilities,
    (
        "cursor": (
            property: cursor,
            values: auto default pointer wait text move help not-allowed,
        ),
    )
);
